@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:wght@400;700&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	/* font-family: 'Bebas Neue', sans-serif; */
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: var(--base-color);

	--bg-color: #F4F5F9;
	--base-color: #42567A;
	--accent-color1: #5D5FEF;
	--accent-color2: #EF5DA8;
	--stroke-color: #E2E5EB;

	--decaration-diameter: calc(100vw * 530 / 1920);

	@media (max-width: 1000px) {
		.swiper-slide {
			width: 166px !important;
			margin-right: 0 !important;

		}
		.swiper-button-prev,
		.swiper-button-next {
			display: none;
		}
	}
}